services:
  api:
    build:
      context: .
    container_name: ignitr-api
    env_file:
      - .env.local
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: ignitr-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - ./mongo-data:/data/db